body {
  min-width: 100vw;
  min-height: 4500px;
}

form.add-lead-form {
  position: relative;
  margin: 50px auto;
  border-radius: 3px;
}

.navbar .nav-item {
  color: #fff;
}

.lead-heading {
  text-decoration: underline;
}

.lead {
  width: 35%;
}
