ul.nav-tabs a.nav-link:hover {
  cursor: pointer;
}

.close-field {
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.2s ease;
}

.close-field:hover {
  cursor: pointer;
  transform: scale(1.25) rotate(90deg);
}

#company-notes {
  border-left: 1px solid #f1f1f1;
}

#update-form-fields {
  display: flex;
  flex-direction: column;
}
