ul.nav-tabs a.nav-link:hover {
  cursor: pointer;
}

.close-field {
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.2s ease;
}

.close-field:hover {
  cursor: pointer;
  transform: scale(1.25) rotate(90deg);
}
